<h2 mat-dialog-title>Редактирвоание поставки</h2>
<mat-dialog-content>
  <form [formGroup]="form" fxFlex="100" fxLayout="row wrap" fxLayoutGap="10px">
    <!-- <mat-form-field fxFlex="100">
      <input matInput placeholder="Поставщик" formControlName="providerId">
    </mat-form-field> -->
    <mat-form-field>
        <input type="text" matInput formControlName="provider" [matAutocomplete]="auto">
      </mat-form-field>

      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of options" [value]="option">{{option}}</mat-option>
      </mat-autocomplete>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Отмена</button>
  <button mat-button [mat-dialog-close]="form.value" [disabled]="form.invalid">Сохранить</button>
</mat-dialog-actions>
