<h2 mat-dialog-title>Редактирование поставки</h2>
<mat-dialog-content>
  <div>
    <form [formGroup]="form" fxFlex="100" fxLayout="row wrap" >
      <div fxLayout="row wrap" fxFlex="100" fxLayoutGap="10px">
        <mat-form-field fxFlex="70">
          <input type="text" matInput placeholder="Поставщик" formControlName="provider" [matAutocomplete]="auto"
            required>
        </mat-form-field>

        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFnProvider">
          <mat-option *ngFor="let provider of filteredProviders | async" [value]="provider">{{provider.name}}</mat-option>
        </mat-autocomplete>
        <mat-form-field fxFlex="25">
          <input matInput [matDatepicker]="supplyDatepicker" formControlName="provideDate" placeholder="Дата поставки">
          <mat-datepicker-toggle matSuffix [for]="supplyDatepicker"></mat-datepicker-toggle>
          <mat-datepicker #supplyDatepicker></mat-datepicker>
        </mat-form-field>

      </div>

      <div formArrayName="supplies" style="width:100%" fxLayout="row wrap">
        <form [formGroup]="form" *ngFor="let form of form.get('supplies').controls; let i = index" style="width:100%"
          fxLayoutGap="10px">
          <mat-form-field fxFlex="70">
            <input matInput formControlName="equipment" placeholder="Вид оборудования" required [matAutocomplete]="autoEquipments"
              (input)="searchEquipments($event.target.value)">
          </mat-form-field>
          <mat-form-field fxFlex="25">
            <input matInput formControlName="count" placeholder="Количество" required type="number">
            <i class="mdi mdi-delete" matSuffix (click)="supplyRemoveHandler(i)" *ngIf="!data"></i>
          </mat-form-field>
        </form>
      </div>
    </form>

    <mat-autocomplete #autoEquipments="matAutocomplete" [displayWith]="displayFnProvider">
      <mat-option *ngFor="let equipment of filteredEquipments | async" [value]="equipment">{{equipment.name}}</mat-option>
    </mat-autocomplete>
  </div>

  <div *ngIf="!data">
    <a href="javascript:void(0)" (click)="addHandler()">Добавить</a>
  </div>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Отмена</button>
  <button mat-button [mat-dialog-close]="form.value" [disabled]="form.invalid">Сохранить</button>
</mat-dialog-actions>
