<h2 mat-dialog-title>Редактирование поставщика</h2>
<mat-dialog-content>
  <form [formGroup]="form" fxFlex="100" fxLayout="row wrap" fxLayoutGap="10px">
    <mat-form-field fxFlex="100">
      <input matInput placeholder="Наименование" formControlName="name">
    </mat-form-field>
    <mat-form-field fxFlex="100">
      <input matInput placeholder="Адрес" formControlName="address">
    </mat-form-field>
    <mat-form-field fxFlex="50">
      <input matInput type="email" placeholder="Электронная почта" formControlName="email">
    </mat-form-field>
     <mat-form-field fxFlex="50">
      <input matInput type="text" placeholder="Телефон" formControlName="phone">
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Отмена</button>
  <button mat-button [mat-dialog-close]="form.value" [disabled]="form.invalid">Сохранить</button>
</mat-dialog-actions>
